body {
  margin: 0;
  padding:0;
  background: rgb(196,255,247);
  background: rgb(23, 23, 23);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1E1E1F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

#root{
  margin: 0 15px;
  position: relative;
  min-height: 100vh;
  
}