h1 {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: normal;
    color: rgb(236, 236, 236);
    font-family: 'Roboto';
}

.TodoCounter span {
    font-weight: bold;
}